@import "./colors.scss";
#randomInt {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
}

#randomRange {
  background-color: $main;
  border: 1px solid black;
  color: white;
  padding: 5px;
}
